@using Hrms.BusinessEntities;
@using Hrms.Models;
@using GridMvc.Html
@using System.Globalization;
@using System.Web.Mvc;

@model ICRUDModelContainer

@{
    
    ViewBag.Title = Model.Name;

    TextInfo textInfo = new CultureInfo("en-US", false).TextInfo;
    string modeString = textInfo.ToTitleCase(Model.Mode.ToString().ToLower());

    string mainPanelClass = "panel-primary";
    if (Model.Mode != Mode.List) {mainPanelClass = "panel-default";}

    string editPanelClass = "panel-primary";
    if (!ViewData.ModelState.IsValid) {editPanelClass = "panel-danger";}
}

<div class="panel-info">
    &nbsp;
</div>

@{if (Model.Mode != Mode.List)
{
    <div id="EditPane" class="panel @editPanelClass">
        <div class="panel-heading">
            @(modeString + " " + Model.Name)
        </div>
        <div class="panel-body">
            @using (Html.BeginForm(modeString, Model.Name))
            {

                @Html.ValidationSummary(true)
                <div class="form-group col-sm-12">
                    <!--Start: customizable portion-->
                    @{ 
                        Html.RenderPartial(
                            Model.Name + "Edit",
                            Model.ModelInstance,
                            new ViewDataDictionary { {"DomainValue", Model.DomainValueDictionary} }
                        );
                    }
                    <!--End: customizable portion-->
                    <hr />
                    <div class="row col-sm-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" onclick="hideEditPane()">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
}}

<div id="primaryPanel" class="panel @mainPanelClass">
    <div class="panel-heading">
        <b>@Model.Name</b>
        <div class="btn-group pull-right">
            <a href="~/@Model.Name/Create" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        @{
            Html.RenderPartial(
                Model.Name + "Grid",
                Model.ModelListOfItems
            );
        }
    </div>

    <div class="hidden">
        @using (Html.BeginForm("Delete", Model.Name, FormMethod.Post, new { id = "FromDelete" }))
        { 
            <input type="hidden" name="Id" id="IdToDelete" />
            <input type="submit" name="Delete"/>
        }
    </div>
</div>