@using HRMS.Models;
@using HRMS.BusinessEntities;

@model ModelContainer<Contact>

@{
    @Html.Hidden("Id", @Model.Instance.Id)

    <div class="row col-sm-12" >
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.Name)
            @ControlHelper.RenderTextBoxFormControl(Html, "Name", Model.Instance.Name)
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.DOB)
            @ControlHelper.RenderTextBoxFormControl(Html, "DOB", Model.Instance.DOB)
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.PhoneNumber)
            @ControlHelper.RenderTextBoxFormControl(Html, "PhoneNumber", Model.Instance.PhoneNumber)
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.Email)
            @ControlHelper.RenderEmailBoxFormControl(Html, "Email", Model.Instance.Email)
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.Url)
            @ControlHelper.RenderTextBoxFormControl(Html, "Url", Model.Instance.Url)
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.Address)
            @ControlHelper.RenderTextAreaFormControl(Html, "Address", Model.Instance.Address)
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Instance.PinCodeId)
            @ControlHelper.RenderDropDownFormControl(Html, "PinCodeId", Model.GetSelectList("PinCodes"))
        </div>
    </div>
}
