@using HRMS.Models;
@using HRMS.BusinessEntities;

@model ModelContainer<Contact>

@{
    <div class="form-group">
        @Html.Hidden("Id", @Model.Instance.Id)
        
        @Html.LabelFor(model => model.Instance.Name)
        @RenderTextBoxFormControl("Name", Model.Instance.Name)

        @Html.LabelFor(model => model.Instance.PhoneNumber)
        @RenderTextBoxFormControl("PhoneNumber", Model.Instance.PhoneNumber)

        @Html.LabelFor(model => model.Instance.Address)
        @RenderTextBoxFormControl("Address", Model.Instance.Address)

        @Html.LabelFor(model => model.Instance.PinCodeId)
        @RenderDropDownFormControl("PinCodeId", Model.GetSelectList("PinCodes"))
    </div>
}

@helper RenderTextBoxFormControl(string name, string value)
{
    @Html.TextBox(name, //Name of the variable
        string.IsNullOrEmpty(value) ? string.Empty : value, //Value of the variable
        new { @class = "form-control" })
    @Html.ValidationMessage(name)
    <br />
}

@helper RenderDropDownFormControl(string name, IEnumerable<SelectListItem> value)
{
    @Html.DropDownList(
        name,
        value,
        new { @class = "form-control" }
    );
    @Html.ValidationMessage(name);
    <br />
}